body{
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', 'Serif';
  position: relative;
  color: #40514E;
}
.container{
  width: 100%;
  height: 1000px;
  font-family: sans-sans-serif;
  background: black;
  color:;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 480px;
  height: 760px;
  background: white;
  align-items: center;
  justify-content: center;
  border-raius: 10px;
  background-color: rgb(242, 235, 227);
}
.middle-container{
  background-color:white;
  align-items: center;
  width: 414px;
  height: 700px;
  border-radius: 10px;
  background: white;
  position: relative;
  margin-left: 35px;
  margin-top: 30px;
}
.skill1-imag{
  width: 100%;
  height: 300px;
  position:top;
  margin-right: 30px;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
.middle-container h1{
  margin: 50px ;
  font-family: 'sacramento', 'cursive';
  font-weight: bold;
  float: ;
  font-size: ;
  color: black;
  background-color:;
  font-weight: ;
  text-align: left;
  display: block;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  
}

.middle-container p{
  line-height: 2;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 4em;
  margin-inline-start: 10px;
  margin-inline-end: 5px;
  padding-right: 5px;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}
a1{
  color: grey;
  font-family: 'Montserrat', 'sans-serif';
  margin: 0px 20px;
  text-decoration: line-through;
  vertical-align: super;
  
}
H5{
  text-transform: uppercase;
  text-align: left;
  margin-left: 15px;
  letter-spacing: 8px;
  font-size: 20px;
  
}
a2{
    color: rgb(60, 128, 103);
    line-height: 5px;
    font-size: 50px;
    text-align: left;
    position: initial;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill-row p{
  display: block;
  text-align: left;
}
.bottom-container{
  background-color: FDF5E;
  height: 50%;
  margin-top: 0px;
  padding: 50px 0 20px;

}
.skill-row h3{
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:
}
.skill-row p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:
}
.btn{
    background: rgb(60, 128, 103);
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: large;
    border: none;
    position: center;
    border-radius: 10px;
}
.btn:hover{
    background-color: lightblue;
    color:;
    pointer-events: ;
    transition: 10ms;

}
